:root {
  --bg-main: #0a0f1d;
  --bg-card: #131c31;
  --color-accent: #00ff66;
  --text-main: #ffffff;
  --text-muted: #8f9cae;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-main);
  font-family: sans-serif;
}
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-img img {
  max-width: 400px;
  border: 1px white solid;
  border-radius: 16px;
  margin-top: 100px;
}

h1 {
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

nav {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: white;
}

p {
  color: var(--text-muted);
  font-size: 25px;
  text-align: center;
  font-style: italic;
  max-width: 600px;
  margin: 20px auto;
}

h2 {
  color: var(--text-main);
  text-align: center;
  font-size: 40px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 10px 10px;
}

.btn-start {
  align-self: center;
  padding: 8px 12px;
  font-size: 18px;
  background-color: var(--color-accent);
  border: 2px white solid;
  border-radius: 16px;
  margin: 20px auto 0 auto;
  font-weight: 500;
  cursor: pointer;
}

.hero-content {
  display: flex;
  flex-direction: column;
}

nav a:hover {
  color: #00ff66;
}
